// Template file for config.js
// Rename this file to config.js, and update the values below

module.exports = {
    'secret': '<changetoyoursecret>',
    'database': 'mongodb://<username>:<password>@ds125273.mlab.com:25273/<dbname>'

};
